<!-- views/chat.ejs -->
<!-- 
    Listing 30.1
    @TODO: chat.js에서 채팅 박스 생성
-->
<div class="container">
    <h1>Chat</h1>
    <form id="chat-form">
        <input type="text" id="chat-input" />
        <input type="submit" value="Send" />
    </form>
    <div id="chat"></div>
</div>